<h1>Здесь будет список радиостанций с формой поиска и пагинацией</h1>
<style> 
            .geeks { 
                width:120px; 
                height:80px; 
            } 
            img { 
                width:100%; 
                height:100%;
                border-radius:20px; 
            } 
        </style> 
<% @stations.take(10).each do |station| %>
  <div style='width:100%;'>
    <div class="geeks"><%= image_tag station["favicon"] %></div>
    <h3><%= station["name"] %></h3>
    <%= link_to 'Listen', station["url"] %>
  </div>
<% end %>	